.visualContainer {
  height: 100%;
  border: 1px solid red;
}

.graphContainer {
  width: 100%;
  height: 400px;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}
