.homeContainer {
  height: 100%;
  width: 100%;
  padding: 3px;
}

.homeGrid {
  display: grid;
  grid-template-columns: 1fr 0.15fr 0.03fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  height: 100%;
}

.gridMenu {
  grid-area: 1 / 3 / 3 / 4;
  background-color: hsl(from var(--clr-background) h s l / 0.9);
  backdrop-filter: blur(4px);
  border: 1px solid var(--clr-bordercolor);
  display: flex;
  justify-content: center;
  padding: 8px;
  border-radius: 8px;
}
.gridSubMenu {
  grid-area: 1 / 2 / 3 / 3;
  background-color: hsl(from var(--clr-background) h s l / 0.9);
  backdrop-filter: blur(4px);
  border: 1px solid var(--clr-bordercolor);
  display: flex;
  padding: 5px;
  border-radius: 8px;
}
.topicWindow,
.fundamentalsWindow {
  width: 100%;
  height: 100%;
}

.panelTop {
  grid-area: 1 / 1 / 2 / 2;
  background-color: hsl(from var(--clr-background) h s l / 0.9);
  backdrop-filter: blur(4px);
  border: 1px solid var(--clr-bordercolor);
  padding: 8px;
  height: 100%;
  border-radius: 8px;
}
.panel {
  grid-area: 2 / 1 / 3 / 2;
  background-color: hsl(from var(--clr-background) h s l / 0.9);
  backdrop-filter: blur(4px);
  border: 1px solid var(--clr-bordercolor);
  padding: 8px;
  border-radius: 8px;
  height: 100%;
}
