.menuContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.iconGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.iconWrapper {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms ease-in-out;
}

.svgIcon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  transition: 200ms ease-in-out;
}
