.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.header {
  color: var(--clr-white);
  font-size: var(--fs-400);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 5px;
}
.headerContainer {
  width: 100%;
  border-bottom: 1px solid var(--clr-bordercolor);
  margin-bottom: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.topicBtn {
  background: transparent;
  border: 1px solid transparent;
  color: #aaa;
  padding: 5px;
  text-align: left;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.topicBtn:hover {
  background-color: hsl(208, 96%, 11%);
  color: #fff;
}
